@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


.content-wrapper {
    font-family: 'Poppins',  "Helvetica Neue", sans-serif,;
    font-weight: 400;
    padding: 20px 40px 60px;
}

.content-header{
    display:flex;
    justify-content: space-between;
    margin:5px 0 30px;
    font-size: 15px;
}

.form-content {
    border: 3px solid #152733;
    padding: 30px 40px;
    max-width: 540px;
    margin: 0 auto;
    border-radius: 10px;
}

.form-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-subheading {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.form-content label {
    display: block;
    margin-top: 16px;
}

.form-content input[type=text] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 1px solid #8D8D8D;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    margin-top: 5px;
}

.form-error {
    font-size: 15px;
    font-weight: 300;
    color: #ff606e;
}
